@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,800&family=Karla:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: hsl(221, 100%, 96%);
	font-family: 'Hanken+Grotesk', sans-serif;
	font-weight: 700;
	font-size: 1.13rem;
	display: flex;
	justify-content: center;
	align-self: center;



}

.container {
	background-color: white;
	width: 50%;
	height: 50%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.subContainer {
	display: flex;
	margin: 10rem;
	background-color: white;

}

.block-1 {
	background-color: hsla(241, 72%, 46%, 0.8);
	width: 80%;
	height: 45vh;
	border-radius: 2rem;
	padding-top: 1rem;




}

.circleDiv {
	height: 7rem;
	width: 7rem;
	margin-top: 2rem;
	margin: 0 auto;
	background-color: hsla(256, 72%, 46%, 0.4);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}

.lineHeight {
	line-height: 0.5rem;
}

.lineHeight p {
	color: hsl(241, 100%, 89%);
	font-size: 0.7rem;
	text-align: center;
}

h3 {
	text-align: center;
	color: white;
}

#idFirst {
	margin-left: 1.8rem;
	margin-right: 1.8rem;
	font-size: 1rem;
	text-align: center;
	color: hsl(241, 100%, 89%);
	font-family: url(/fonts/HankenGrotesk-Medium.ttf);

}

.block-2 {
	width: 80%;
	height: 45vh;
	padding-top: 1rem;
	padding-left: 2rem;
	border-radius: 2rem;
	box-shadow: 5px 7px hsl(221, 100%, 96%);
}


.divOfdiv {
	display: grid;
	gap: 0.5rem;
	margin-top: 1.5rem;
	font-size: 0.9rem;
}

.color-1 {
	background-color: hsla(0, 100%, 67%, 0.1);
	color: hsla(0, 100%, 67%);
}

.color-2 {
	background-color: hsla(39, 100%, 56%, 0.2);
	color: hsla(39, 100%, 56%);
}

.color-3 {
	background-color: hsla(166, 100%, 37%, 0.1);
	color: hsla(166, 100%, 37%);
}

.color-4 {
	background-color: hsla(234, 85%, 45%, 0.1);
	color: hsla(234, 85%, 45%);
}

.block-text {
	color: hsl(224, 30%, 27%);
}

.grey-c {
	color: hsl(241, 100%, 89%);
}

.theDivs {
	width: 90%;
	height: 2.5rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.7rem;
	padding: 0.5rem;
}

.eachDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

.eachDiv img {
	margin-right: 6px;
}


button {
	font-family: 'Hanken+Grotesk', sans-serif;
	font-weight: 500;
	margin-top: 1.8rem;
	width: 90%;
	height: 2.5rem;
	background-color: hsl(224, 30%, 27%);
	border-radius: 1rem;
	color: white;
	border: 0px;
}

button:hover {
	background-color: hsla(224, 30%, 27%, 0.6);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 720px) {
	.container {
		width: 100%;
		background-color: black;
	}

	.subContainer {
		width: 100%
		margin: 0px
		flex-direction: column;
	}

	.block-1 {
		width: 100%;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.block-2 {
		width: 100%;
		box-shadow: none;
	}
}
